.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background-color: #6200ea;
    color: #fff;
    border-bottom: 8px solid #33007b;
    height: 70px;
}
.iconoNavbar {
    width: 100px;
}

.iconoNavbar img {
    width: 50px;
}

.navbar h3 {
    width: 300px;
    display: flex;
    justify-content: center;
}

.menuNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.itemCursosNavbar a {
    text-decoration: none;
}

.imageHome {
    width: 400px;
    margin-top: 2rem;
}

.containerContent {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.btnProductPLP a {
    color: #fff;
    text-decoration: none;
}

.imgPDP {
    max-width: 500px;
}


.tituloDetalleProducto {
    text-align: center;
}

.colImgPDP {
    display: flex;
    justify-content: center;
}

.rowContainerPDP {
    margin-top: 2rem;
    border: 2px solid #777;
    border-radius: 1rem;
    padding: 2rem;
}

.rowBtnCursoPDP {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.colDetallesPDP {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoriaDetallePDP,
.categoriaDetallePLP {
    text-transform: capitalize;
}

.containerListItems {
    padding-bottom: 6rem;
}

.tituloPLP {
    text-align: center;
}

.listItems {
    margin-top: 1rem;
}

.containerFooter {
    height: 4rem;
    background-color: #6200ea;
    color: #fff;
    border-top: 8px solid #33007b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
}

.navbar-collapse {
    background-color: #6200ea;
    z-index: 2;
}

.containerFooter p {
    margin: 0;
    text-align: center;
}

.colDetallesPDP p {
    font-weight: 600;
    font-size: 1.5rem;
}

.colDetallesPDP span {
    font-weight: 200;
}

.quantityPDP {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemDescriptionCheckout {
    font-size: 1.8rem;
}

.CartImg {
    width: 40px;
    height: auto;
    padding-right: 0.5rem;
}

.imageProductMiniCart {
    width: 120px;
    height: auto;
}

.imageProductCart {
    width: auto;
    height: 50px;
}

.containerCart {
    padding: 2rem;
}

.rowItemCart {
    align-items: center;
    border: 1px solid #000;
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
}

.columnItemCart {
    border: 2px solid #000;
    /* margin: 0.5rem 0; */
}

.userDetail {
    border: 2px solid #000;
    padding: 0.8rem;
}

.colItemsCheckout {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rowEndCheckout {
    margin-top: 1rem;
}

.rowCheckout {
    column-gap: 3rem;
}

.colBtnCheckout {
    display: flex;
    justify-content: center;
}

.btnInfMiniCart {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.bntPagarMiniCart a {
    color: #fff;
    text-decoration: none;
}

.bntLimpiarMiniCart {
    color: #000 !important;
    background-color: transparent;
    border: 2px solid #0d6efd;
    border-radius: 4px;
}

.bntLimpiarMiniCart:hover {
    color: #fff !important;
    background-color: #e54c21;
    border: 2px solid #e54c21;
    border-radius: 4px;
}

.bntRemoveMinicartItem,
.bntRemoveMinicartItem:hover {
    color: #fff !important;
    background-color: #e54c21;
    border: 2px solid #e54c21;
    border-radius: 4px;
}

.itemMinicartQuantity,
.itemMinicartRemove,
.itemMinicartName,
.itemMinicartPrice,
.imageProductMiniCart {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.itemMiniCart {
    border: 2px solid #000;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.numberQuantityPDP {
    padding: 0 2rem;
}

.buttonEndShipping {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    .navbar {
        padding: 0 0.5rem 0 0.5rem;
    }

    .imgPDP {
        max-width: 300px;

    }

    .containerContent {
        padding-top: 2rem;
    }
    
}