.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
    background-color: #6200ea;
    color: #fff;
    border-bottom: 8px solid #33007b;
    height: 70px;
}
.iconoNavbar {
    width: 100px;
}

.iconoNavbar img {
    width: 50px;
}

.navbar h3 {
    width: 300px;
    display: flex;
    justify-content: center;
}

.menuNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.menuNavBar a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}

.menuNavBar a:hover {
    border-bottom: 2px solid black;
    transition: border-bottom 0.4s ease;
}

.imageHome {
    width: 400px;
    margin-top: 2rem;
}

.containerContent {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardContainer {
    display: flex;
    justify-content: center;
}

.btnProductPLP a {
    color: #fff;
    text-decoration: none;
}

.imgPDP {
    max-width: 500px;
}


.tituloDetalleProducto {
    text-align: center;
}

.colImgPDP {
    display: flex;
    justify-content: center;
}

.rowContainerPDP {
    margin-top: 2rem;
    border: 2px solid #777;
    border-radius: 1rem;
    padding: 2rem;
}

.rowBtnCursoPDP {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.colDetallesPDP {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categoriaDetallePDP,
.categoriaDetallePLP {
    text-transform: capitalize;
}

.containerListItems {
    padding-bottom: 6rem;
}

.tituloPLP {
    text-align: center;
}

.listItems {
    margin-top: 1rem;
}

.containerFooter {
    height: 4rem;
    background-color: #6200ea;
    color: #fff;
    border-top: 8px solid #33007b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: fixed;
    bottom: 0;
}

.navbar-collapse {
    background-color: #6200ea;
    z-index: 2;
}

.containerFooter p {
    margin: 0;
    text-align: center;
}

.colDetallesPDP p {
    font-weight: 600;
    font-size: 1.5rem;
}

.colDetallesPDP span {
    font-weight: 200;
}

.quantityPDP {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberQuantityPDP {
    padding: 0 2rem;
}

.buttonEndShipping {
    display: flex;
    justify-content: center;
}

@media (max-width: 425px) {
    .navbar {
        padding: 0 0.5rem 0 0.5rem;
    }

    .imgPDP {
        max-width: 300px;

    }

    .containerContent {
        padding-top: 2rem;
    }
    
}